<!-- <div class="card">
  <div class="toolbar"> -->
<input
  matInput
  name="search"
  placeholder="SEARCH"
  (input)="setFilteredItems($event)"
  class="search"
/>

<div class="pt-2 mb-2">
  <table
    class="table table-bordered table-striped table-hover"
    cellspacing="0"
    width="100%"
  >
    <thead>
      <tr class="header_color">
        <td>BreakageNo</td>
        <td>Date</td>
        <td>InstrumentCode</td>
        <td>InstrumentName</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of collection; let i = index">
        <td class="gene_name tablethtd">{{ data.BreakageNo }}</td>
        <td class="gene_name tablethtd">
          {{ data.date | date: "dd-MMM-yyyy,  h:mm a" }}
        </td>
        <td class="gene_name tablethtd">{{ data.InstrumentCode }}</td>
        <td class="gene_name tablethtd">{{ data.InstrumentName }}</td>
        <button class="btn btn-dark my-1" (click)="getUser(data.id)">
          View
        </button>
      </tr>
    </tbody>
  </table>
</div>
