<mat-card>
  <!-- <div class="new_bor pt-1 pb-3">
    
  </div> -->

  <div class="row px-4 pt-3 align-items-center">
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
      <div class="row form-group align-items-center">
        <div class="col-4">
          <mat-label class="gene_name newname">Unit</mat-label>
        </div>
        <div class="col-8">
          <!-- <input type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"  class="form-control input_text"  [(ngModel)]="registerDetails.date" /> -->
          <!-- <textarea type="text" class="form-control input_text"></textarea> -->
          <select
            name=""
            id=""
            class="form-control input_text"
            [(ngModel)]="registerDetails.unit"
            (change)="unit($event)"
          >
            <option disabled selected value="">--Select--</option>
            <option *ngFor="let unit of units; let i = index" [value]="unit">
              {{ unit }}
            </option>
            <!-- <option value="2">2</option> -->
          </select>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
      <div class="row form-group align-items-center">
        <div class="col-4">
          <mat-label class="gene_name newname"> Department</mat-label>
        </div>
        <div class="col-8">
          <!-- <input type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"  class="form-control input_text"  [(ngModel)]="registerDetails.date" /> -->
          <!-- <textarea type="text" class="form-control input_text"></textarea> -->
          <select
            name=""
            id=""
            class="form-control input_text"
            [(ngModel)]="registerDetails.department"
            (change)="department($event)"
          >
            <option disabled selected value="">--Select--</option>
            <option *ngFor="let depart of dep; let i = index" [value]="depart">
              {{ depart }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
      <div class="row form-group align-items-center">
        <div class="col-4">
          <mat-label class="gene_name newname">Employee</mat-label>
        </div>
        <div class="col-8">
          <!-- <input type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"  class="form-control input_text"  [(ngModel)]="registerDetails.date" /> -->
          <!-- <textarea type="text" class="form-control input_text"></textarea> -->
          <!-- <input
                  type="text"
                  class="form-control input_text"
                  [(ngModel)]="registerDetails.employee"
                /> -->
          <select
            name=""
            id=""
            class="form-control input_text"
            [(ngModel)]="registerDetails.employeeid"
          >
            <option disabled selected value="">--Select--</option>
            <option
              *ngFor="let employee of emp; let i = index"
              [value]="employee.empID"
            >
              {{ employee.firstName }} .{{ employee.lastName }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 button-section">
      <div class="row form-group align-items-center">
        <button mat-raised-button color="warn" *ngIf="!update" (click)="load()">
          Load
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="show">
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">Module ID</th>
          <th scope="col">Modules Name</th>
          <th scope="col">Edit</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody *ngIf="update === false && show === true">
        <tr *ngFor="let data of tableData; let i = index">
          <td>{{ data.moduleId }}</td>
          <td>{{ data.moduleDescription }}</td>
          <td>
            <input
              class="form-check-input"
              type="checkbox"
              id="check1"
              name="edit"
              value="edit"
              (change)="edit($event, data)"
            />
          </td>
          <td>
            <input
              class="form-check-input"
              type="checkbox"
              id="check2"
              name="view"
              value="view"
              (change)="edit($event, data)"
            />
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="update === true">
        <tr>
          <td>{{ tableData.moduleid }}</td>
          <td>{{ tableData.ModuleidDescription }}</td>
          <td>
            <input
              class="form-check-input"
              type="checkbox"
              id="check1"
              name="edit"
              value="edit"
              (change)="edited($event, tableData)"
              [checked]="tableData.Edit"
            />
          </td>
          <td>
            <input
              class="form-check-input"
              type="checkbox"
              id="check2"
              name="view"
              value="view"
              (change)="edited($event, tableData)"
              [checked]="tableData.view"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 button-section">
      <div class="row form-group align-items-center">
        <button
          mat-raised-buttons
          color="warn"
          *ngIf="!update"
          (click)="allow()"
        >
          Allow
        </button>
        <button
          mat-raised-button
          color="warn"
          *ngIf="update"
          (click)="updateData()"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</mat-card>

<div class="pt-3 mb-3">
  <table class="table table-hover">
    <thead>
      <tr class="header_color">
        <!-- <td
          scope="col"
          *ngFor="let head of TableHeading; let i = index"
          class="gene_name tablethtd"
          [style.background-color]="i == HighlightHead ? ' #427caa' : '#dfdfdf'"
          (click)="Click_Head(i, head.name)"
        >
          {{ head.name }}
        </td> -->
        <td>SI.No</td>
        <td>Employee Id</td>
        <td>Module ID</td>
        <td>Module description</td>
        <td>CreatedAt</td>
        <!-- <td>CreatedBy</td> -->
        <td>UpdatedAt</td>
        <td>Edit</td>
      </tr>
    </thead>
    <tbody class="table table-sm">
      <tr *ngFor="let data of user; let i = index">
        <td class="gene_name tablethtd">{{ i + 1 }}</td>
        <td class="gene_name tablethtd">{{ data.employeeid }}</td>
        <td class="gene_name tablethtd">{{ data.moduleid }}</td>
        <td class="gene_name tablethtd">{{ data.ModuleidDescription }}</td>

        <td class="gene_name tablethtd">
          {{ data.createdAt | date: "dd-MMM-yyyy,  h:mm a" }}
        </td>
        <!-- <td class="gene_name tablethtd">{{ data.createdBy }}</td> -->
        <td class="gene_name tablethtd">
          {{ data.updatedAt | date: "dd-MMM-yyyy,  h:mm a" }}
        </td>
        <!-- <td class="gene_name tablethtd">{{ data.updatedBy }}</td> -->
        <td class="gene_name tablethtd icons">
          <i
            class="fa fa-pencil-square-o"
            aria-hidden="true"
            (click)="getUser(data)"
          ></i>
        </td>
        <!-- <td class="gene_name tablethtd dicons">
          <button>
            <i
              class="fa fa-trash"
              aria-hidden="true"
              (click)="deleteUsers(data.id)"
            ></i>
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
